<h1>Movies Overview</h1>

<%= render 'search_form' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director.name %></td>
        <td><%= movie.actors.map(&:name).join(', ') %></td>
        <td><%= movie.average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
